<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9249NJH452"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9249NJH452');
</script>

<!-- Google tag (gtag.js) -- alexanderthegreat.se>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9249NJH452"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SZYZFSG0VC');
</script>

<script>
function skickaLashandelse(titel, lastid, artikelnamn) {
    gtag('event', 'last_artikel', {
        "artikelnamn": artikelnamn,
        "titel": titel,
        "lastid": lastid,
    });
}

document.addEventListener("DOMContentLoaded", () => {

    const lastArtikel1Knapp = document.getElementById("last-artikel-1");

    if (lastArtikel1Knapp) {
        lastArtikel1Knapp.addEventListener("click", () => {
            skickaLashandelse("Artikel 1", 5, "C Alexander")
        });

        document.getElementById("last-artikel-2").addEventListener("click", () => {
            skickaLashandelse("Artikel 2", 15, "Bianca WD")
        });

        document.getElementById("last-artikel-3").addEventListener("click", () => {
            skickaLashandelse("Artikel 3", 20, "Sander P")
        });
    }

});
  
</script>
