  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N2HBZ2K');</script>
<!-- End Google Tag Manager -->

<script>/*
function skickaLashandelse(titel, lastid, artikelnamn) {
    gtag('event', 'last_artikel', {
        "artikelnamn": artikelnamn,
        "titel": titel,
        "lastid": lastid,
    });
}

document.addEventListener("DOMContentLoaded", () => {

    const lastArtikel1Knapp = document.getElementById("last-artikel-1");

    if (lastArtikel1Knapp) {
        lastArtikel1Knapp.addEventListener("click", () => {
            skickaLashandelse("Artikel 1", 5, "C Alexander")
        });

        document.getElementById("last-artikel-2").addEventListener("click", () => {
            skickaLashandelse("Artikel 2", 15, "Bianca WD")
        });

        document.getElementById("last-artikel-3").addEventListener("click", () => {
            skickaLashandelse("Artikel 3", 20, "Sander P")
        });
    }

});*/
  
</script>
